.container {
  display: flex;
  background-color: #881D8D;
  width: 350px;
  height: 200px;
  padding: 10px;
}

.item2 {
  flex-shrink: 4;
}

.item {
  flex-shrink: 1;
  flex-grow: 1;
  background-color: #FFAD49;
  border: 1px solid #FF920D;
  width: 60px;
  height: 20px;
  padding: 10px;
  text-align:center;
}